{% extends "cmpx/base.html" %}

{% load static %}

{% block content %}
    <title>Cmpx Markets</title>

    <!--Header SM STARTS-->
    <header class="masthead h-small d-lg-none mb-0 pb-0" style="background-image: url('static/pictures/backnew.webp'), url('static/pictures/backtop.jpg')"> 
        <div class="overlay"></div>
            <div class="container pe-0 me-4">
                <div class="row">
                    <div class="col-6 col-md-10 col-12 ms-0 ps-0 d-flex justify-content-center">
                        <div class="post-heading text-center">
                            <p><b>Your capital, Our Expertise</b></p>
                            <h1><strong>The Market Awaits You</strong></h1>
                            <div class="mt-3">
                                <a href="#" type="button" class="btn btn-primary">Start Now!</a>
                                <a href="#" type="button" class="btn btn-light">Learn More</a>
                            </div>
                            <div class="mt-3">
                                <p><b>Funding for Professional Talent</b></p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header SM ENDS-->

    <!--Header LG STARTS-->
    <header class="masthead mb-0 pb-0 d-none d-lg-block" style="background-image: url('static/pictures/backtop.jpg')"> 
        <div class="overlay"></div>
            <div class="container pe-0 me-4">
                <div class="row">
                    <div class="col-lg-6 col-md-10 col-12 ms-0 ps-0">
                        <div class="post-heading">
                            <p><b>Your capital, Our Expertise</b></p>
                            <h1><strong>The Market Awaits You</strong></h1>
                            <div class="mt-3">
                                <a href="#" type="button" class="btn btn-primary">Start Now!</a>
                                <a href="#" type="button" class="btn btn-light">Learn More</a>
                            </div>
                            <div class="mt-3">
                                <p><b>Funding for Professional Talent</b></p>
                            </div>           
                        </div>
                    </div>
                    <div class="col-lg-6 ms-0 col-12 px-0 pb-5 mb-5 pt-0 mt-0">
                        <img src="{% static 'pictures/backnew.webp' %}" class="card-img pb-5 mb-5" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header LG ENDS-->


    <!--Trading View Widget STARTS-->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"></a>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
            {
            "symbols": [
                {
                "proName": "FOREXCOM:SPXUSD",
                "title": "S&P 500"
                },
                {
                "proName": "FOREXCOM:NSXUSD",
                "title": "US 100"
                },
                {
                "proName": "FX_IDC:EURUSD",
                "title": "EUR/USD"
                },
                {
                "proName": "BITSTAMP:BTCUSD",
                "title": "Bitcoin"
                },
                {
                "proName": "BITSTAMP:ETHUSD",
                "title": "Ethereum"
                },
                {
                "description": "GBPUSD",
                "proName": "FX:GBPUSD"
                },
                {
                "description": "AUDUSD",
                "proName": "OANDA:AUDUSD"
                },
                {
                "description": "GBPJPY",
                "proName": "OANDA:GBPJPY"
                }
            ],
            "showSymbolLogo": true,
            "colorTheme": "dark",
            "isTransparent": false,
            "displayMode": "adaptive",
            "locale": "en"
            }
            </script>
        </div>
    </div>
    <!--Trading View Widget ENDS-->


    <!--Earn section STARTS-->
    <div class="container-fluid pt-5 pb-5 " style="background-color: #ECFFFF;">
        <div class="row">
            <div class="col-lg-7">
                <img src="{% static 'pictures/earn.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-5">
                <h1><b>Earn as a professional trader</b></h1>
                <p>We have multiple programs to fit your expertise. Choose one of our programs and start trading, earn bonuses and profit-splits.</p>

                <div class="d-flex justify-content-center d-none d-lg-block">
                    <a href="#" type="button" class="btn btn-primary">Start now!</a>
                </div>

                <div class="d-flex justify-content-center d-lg-none">
                    <a href="#" type="button" class="btn btn-primary">Start now!</a>
                </div>
            </div>
        </div>
    </div>
    <!--Earn section ENDS-->

    <div class="container">
        <hr>
    </div>

    <!--Experience section STARTS-->
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-12 text-center mb-3">
                <h1><b>The complete package for new &amp; experienced traders</b></h1>
                <h6><b>Your success is our business.</b> We have chosen to provide you with multiple product options to choose from based on your experience. The Portfolio will be taken care of by the right minds an skills and don't worry. We've got you covered!</h6>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mt-3">
                        <div class="card text-white pt-3 ps-3 pb-3 h-100" style="background-color:#009EDE;">
                            <div class="container text-center pt-3  pb-3">
                                <p class="card-title"><b>STARTER</b></p>
                                <h5 class="card-subtitle mb-2">8%/Week</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Minimum amount: $500.00</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Maximum amount: $4900.00</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Duration: 1 Week</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> No gift Bonus</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Payout: Profit accumulated + Capital included + Gift Bonus</li>
                            </ul>
                            <div class="container pt-3 pb-2 d-flex justify-content-center">
                                <a type="button" class="btn text-white" href="#" style="background-color:#083871">Start Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-3">
                        <div class="card text-white pt-3 ps-3 pb-3 h-100" style="background-color:#009EDE;">
                            <div class="container text-center pt-3  pb-3">
                                <p class="card-title"><b>SILVER</b></p>
                                <h5 class="card-subtitle mb-2">5%/Week</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Minimum amount: $5000.00</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Maximum amount: $14,900.00</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Duration: 3 Weeks</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> $200 Gift Bonus</li>
                                <li class="list-group-item text-white" style="background-color:#009EDE;"><i class="fa fa-check" aria-hidden="true"></i> Payout: Profit accumulated + Capital included + Gift Bonus</li>
                            </ul>
                            <div class="container pt-3 pb-2 d-flex justify-content-center">
                                <a type="button" class="btn text-white" href="#" style="background-color:#083871">Start Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-3">
                        <div class="card text-white pt-3 ps-3 pb-3 h-100" style="background-color:#045086;">
                            <div class="container text-center pt-3  pb-3">
                                <p class="card-title"><b>GOLD</b></p>
                                <h5 class="card-subtitle mb-2">8%/Week</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Minimum amount: $15,000.00</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Maximum amount: $49,000.00</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Duration: 1 Month</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> $500 Gift Bonus</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Payout: Profit accumulated + Capital included + Gift Bonus</li>
                            </ul>
                            <div class="container pt-3 pb-2 d-flex justify-content-center">
                                <a type="button" class="btn text-white" href="#" style="background-color:#083871">Start Now!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-12 mt-3">
                        <div class="card text-white pt-3 ps-3 pb-3 h-100" style="background-color:#045086;">
                            <div class="container text-center pt-3  pb-3">
                                <p class="card-title"><b>PLATINUUM</b></p>
                                <h5 class="card-subtitle mb-2">10%/Week</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Minimum amount: $50000.00</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Maximum amount: $500000.00</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Duration: 1 Month</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> $800 Gift Bonus</li>
                                <li class="list-group-item text-white" style="background-color:#045086;"><i class="fa fa-check" aria-hidden="true"></i> Payout: Profit accumulated + Capital included + Gift Bonus</li>
                            </ul>
                            <div class="container pt-3 pb-2 d-flex justify-content-center">
                                <a type="button" class="btn text-white" href="#" style="background-color:#083871">Start Now!</a>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    <!--Experience section STARTS-->

    <!--Program benefits section STARTS-->
    <div class="container-fluid" id="benefits">
        <div class="container" id="program">
            <div class="row">
                <div class="col-lg-4 col-12 px-0 py-0 mx-0 my-0">
                    <img src="{% static 'pictures/normad.jpeg' %}">
                    <div class="text-center">
                        <h3><b>We Offer The Best</b></h3>
                    </div>
                </div>
                <div class="col-lg-8 col-12 px-0 py-0 mx-0 my-0">
                    <div class="container px-0 py-0 mx-0 my-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card curve d-flex justify-content-between mt-3 mb-3 pt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-12 d-flex align-self-center justify-content-center">
                                            <i class="fa fa-certificate pro ps-3" aria-hidden="true"></i>

                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">UK Registerd Company</h5>
                                                <p class="card-text">We are a legal company registered in the United Kingdom, providing its services to all members.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="card curve d-flex justify-content-between mt-3 mb-3 pt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-12 d-flex align-self-center justify-content-center">
                                            <i class="fa fa-bitcoin pro ps-3 justify-content-center"> </i>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Forex Academy</h5>
                                                <p class="card-text">Learn about support &amp; resistance, risk management and more. Graduate to the semi-professional status (COMING SOON)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container px-0 py-0 mx-0 my-0">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card curve d-flex justify-content-between mt-3 mb-3 pt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-12 d-flex align-self-center justify-content-center">
                                            <i class="fa fa-users pro ps-3 justify-content-center"> </i>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">Multiple Bonuses</h5>
                                                <p class="card-text">Unlock more bonuses as you transition from one investment package to the other. The higher you go, the more your bonus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card curve d-flex justify-content-between mt-3 mb-3 pt-3">
                                    <div class="row">
                                        <div class="col-lg-12 col-12 d-flex align-self-center justify-content-center">
                                            <i class="fa fa-handshake pro ps-3 justify-content-center"> </i>
                                        </div>
                                        <div class="col-lg-12 col-12">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">We are always by your side</h5>
                                                <p class="card-text">24/5 support is available to all our community, day or night we are there for you. Our interest co-align with your success. We are always there to assist when needed</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Program benefits section ENDS-->

    <!--Blog setion STARTS-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 text-center mt-3 mb-3">
                <h5><b>Latest from the blog</b></h6>
            </div>
        </div>
        <hr>
    </div>

    <div class="container-fluid" id="blogs">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="card mt-3 mb-3">
                        <a href="https://www.w3schools.com" ><img src="{% static 'pictures/Stats-are-back-01.png' %}" class="card-img" alt="..."></a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mt-3 mb-3">
                        <img src="{% static 'pictures/Blackfriweek-100.jpg' %}" class="card-img" alt="...">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mt-3 mb-3">
                        <img src="{% static 'pictures/Interview-Irma-100.jpg' %}" class="card-img" alt="...">
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="card mt-3 mb-3">
                        <img src="{% static 'pictures/Interview-Kalai-Ram.png' %}" class="card-img" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Blog setion ENDS-->

    <!--Testimonial section STARTS-->
    <div class="container-fluid" id="testimonial">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <section id="testimonials" class="testimonials section-bg">
                        <div class="container">
                            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-item" data-aos="fade-up">
                                            <p>
                                            <i class="fa fa-quote-left"></i>
                                            CMPX Markets is one of, if not THE, best prop firm i have found. I started trading them in Aug 2020, and have never had any issues getting paid. The one time it was "late" (only by a day or two because they were so new and growing rapidly), they gave me a little extra in my payout.
                                            <br><br>
                                            They have some of the best customer service in any industry. My questions are always answered completely and they like to have fun (joking around, buying pizza for the traders, etc.) Everyone is very helpful, but i end up talking to Ben K quite a bit of the time. Just a group of great people. Feels more like I am part of a family/group of friends than I am a trader for a company
                                            <br><br>
                                            Keep up the great work CMPXM! I'll be sticking around for a long time.
                                            <i class="fa fa-quote-right"></i>
                                            </p>
                                            <img src="{% static 'pictures/erich.jpeg' %}" class="testimonial-img" alt="">
                                            <h3>Eric H.</h3>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                                            <p>
                                            <i class="fa fa-quote-left"></i>
                                            I enjoy CMPXM... I came in as a new trader but i locked the funds to trade in the market, the best part is you get paid a percentage while in simulation phase! This is a great program with simple rules to follow as a trader. I have heard about other simpilar programs but have not thought to llok at them due to the face that i have had zero issues with CMPX Markets. Very fast responses from their team. I as a trader have hit my daily draw downs and the reset process is so simple that I am up and running with new account in 24hrs or less. Very friendly program from a beginner to advanced.
                                            <i class="fa fa-quote-right"></i>
                                            </p>
                                            <img src="{% static 'pictures/danielr.jpeg' %}" class="testimonial-img" alt="">
                                            <h3>Daniel R.</h3>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                                            <p>
                                            <i class="fa fa-quote-left"></i>
                                            I started CMPX Markets (CMPXM), when they started offering the accounts without any monthly subscription, i got my hands on 20k account, since then I only had good experience, I remember having a bad time while trading, and Ben (Customer support from CMPXM), he counselled me and helped me a lot psychologically. Basically people at CMPXM are not like a "BOSS" but more like a "TEAM". Anout the payout it is always on time, could be 1 day late, but they never seem to miss it. I have received my Payout through Transferwise.
                                            <br><br>
                                            Honestly, CMPXM has the bst Trading account Parameters with Excellent customer support, I recommend anyone to trade with them for a long-term growth in their career.
                                            <i class="fa fa-quote-right"></i>
                                            </p>
                                            <img src="{% static 'pictures/anuragj.jpeg' %}" class="testimonial-img" alt="">
                                            <h3>Anurag J.</h3>
                                        </div>
                                    </div><!-- End testimonial item -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                                            <p>
                                            <i class="fa fa-quote-left"></i>
                                            I have been CMPXM since January 2021. CMPXM for me is a dream come true. Everything about CMPXM is excellent. Their support team is very helpful. I personally talk with Mr. Ben and get response as though we've met before. I have never seen such an understanding firm that treat new Traders with such high priority. CMPXM all the way till death do us part. 
                                            <i class="fa fa-quote-right"></i>
                                            </p>
                                            <img src="{% static 'pictures/oduwaj.jpeg' %}" class="testimonial-img" alt="">
                                            <h3>Oduwa J.</h3>
                                        </div>
                                    </div><!-- End testimonial item -->

                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </section>
                </div>
                <div class="col-lg-6 col-12 text-center d-flex align-items-center">
                    <div>
                        <h2>Hear what people are saying about us!</h2>
                        <hr>
                        <p>At My Forex Funds we are always happy to hear about our prospective traders' insights, constructive criticism and feedback. We like to know where we can improve and grow with you. Take your time and see what others are saying about us and join our discord!</p>
                        <div class="container">
                            <a class="btn text-white" type="button" href="#" style="background-color:#090B47 ;">Contact Us</a>
                            <a class="btn btn-light" type="button" href="#">join us on <i class="fab fa-discord"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Testimonial section ENDS-->

    <!--Family section STARTS-->
    <div class="container-fluid" id="family">
        <div class="container text-white family py-5">
            <div class="row">
                <div class="col-lg-12 col-12 text-white text-center">
                    <h2><b>Join our ever-growing family &amp; Earn</b></h2>
                </div>
                <div class="col-lg-4 col-12 ">
                    <img src="{% static 'pictures/1-2.png' %}" class="card-img" alt="...">
                </div>
                <div class="col-lg-4 col-12 d-none d-lg-block">
                    <img src="{% static 'pictures/3-2.png' %}" class="card-img" alt="...">
                </div>
                <div class="col-lg-4 col-12 d-none d-lg-block">
                    <img src="{% static 'pictures/2-2.png' %}" class="card-img" alt="...">
                </div>
                <div class="col-lg-12">
                    <!-- ======= Counts Section ======= -->
                    <section id="counts" class="counts">
                        <div class="container">
                            <div class="row counters">
                                <div class="col-lg-4 col-12 text-center">
                                    <span data-purecounter-start="10" data-purecounter-end="40000" data-purecounter-duration="1" 
                                    data-purecounter-separator="true"
                                    data-purecounter-currencysymbol="+"
                                    class="purecounter">0+</span>
                                    <p>Happy Traders</p>
                                </div>

                                <div class="col-lg-4 col-12 d-lg-none">
                                    <img src="{% static 'pictures/3-2.png' %}" class="card-img" alt="...">
                                </div>

                                <div class="col-lg-4 col-12 text-center">
                                    <span data-purecounter-start="10000" data-purecounter-end="100000000000" data-purecounter-duration="1" 
                                    data-purecounter-separator="true"
                                    data-purecounter-currencysymbol="+"
                                    class="purecounter">0+</span>
                                    <p>Trading volume monthly</p>
                                </div>

                                <div class="col-lg-4 col-12 d-lg-none">
                                    <img src="{% static 'pictures/2-2.png' %}" class="card-img" alt="...">
                                </div>

                                <div class="col-lg-4 col-12 text-center">
                                    <span data-purecounter-start="10" data-purecounter-end="120" data-purecounter-duration="1" 
                                    data-purecounter-separator="true"
                                    data-purecounter-currencysymbol="+"
                                    class="purecounter">0+</span>
                                    <p>different countries</p>
                                </div>
                            </div>
                            <div class="container d-flex justify-content-center">
                                <a class="btn btn-info" href="#" type="button">Start Now!</a>
                            </div>
                        </div>
                    </section>
                    <!-- End Counts Section -->
                </div>
            </div>
        </div>
    </div>
    <!--Family section ENDS-->






{% endblock %}