{% extends "cmpx/base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid py-5" id="programs">
    <div class="container">
        <div class="programs-overlay"></div>
        <div class="row">
            <div class="col-lg-12 text-center py-3">
                <h2><b>Choose the program that fits your experience level!</b></h2>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-12 pt-3">
                        <div class="card h-100" style="background-color:#080E47 ;">
                            <div class="card-body text-white py-5">
                                <h3 class="card-title text-center"><b>Rapid</b></h3>
                                <hr>
                                <p class="card-text">Our Rapid account allows our traders to earn bonuses from day one while working with our FOREX and CFD's trading prop firm and the risk management aspects that come with it</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-primary d-flex justify-content-center" style="background-color:#0587B1;" >Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-12 pt-3">
                        <div class="card h-100" style="background-color:#080E47;">
                            <div class="card-body text-white py-5">
                                <h3 class="card-title text-center"><b>Evaluation</b></h3>
                                <hr>
                                <p class="card-text">Our Evaluation program is built for traders to prove their worth. Semi-professional traders in need of capital to move to the next step of their career have the opportunity to show their talent and reach their goals in a quick, two phase process.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-primary d-flex justify-content-center" style="background-color:#0587B1;" >Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 pt-3">
                        <div class="card h-100" style="background-color:#080E47 ;">
                            <div class="card-body text-white py-5">
                                <h3 class="card-title text-center"><b>Accelerated</b></h3>
                                <hr>
                                <p class="card-text">The My Forex Funds Accelerated program is built for our traders to start trading a live account from day one. This program is suitable for profitable full-time traders who want to boost their capital immediately.</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-primary d-flex justify-content-center" style="background-color:#0587B1;" >Start Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}